<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_50d88cd310c24929b3ae84e7f082feb1 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_50d88cd310c24929b3ae84e7f082feb1" ></div>
        
</body>
<script>    
    
            var map_50d88cd310c24929b3ae84e7f082feb1 = L.map(
                "map_50d88cd310c24929b3ae84e7f082feb1",
                {
                    center: [40.4771824, -3.6659123999999994],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_da94782a627249d0b751d19a83457274 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_50d88cd310c24929b3ae84e7f082feb1);
        
    
            var marker_7922435f49ac4aaaa9fdc1b50e740065 = L.marker(
                [40.4771824, -3.6659123999999994],
                {}
            ).addTo(map_50d88cd310c24929b3ae84e7f082feb1);
        
    
            var icon_7eafb76041ac48d48eb57eb5e71a0c3f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_7922435f49ac4aaaa9fdc1b50e740065.setIcon(icon_7eafb76041ac48d48eb57eb5e71a0c3f);
        
    
            marker_7922435f49ac4aaaa9fdc1b50e740065.bindTooltip(
                `<div>
                     [1450.0, 'flat', 110.0]
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4bce2ea898c04b72aa7a9f0ea4007b6f = L.marker(
                [40.4770577, -3.6658247999999998],
                {}
            ).addTo(map_50d88cd310c24929b3ae84e7f082feb1);
        
    
            var icon_496ec13c583646cf9e9f29112c76c98d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_4bce2ea898c04b72aa7a9f0ea4007b6f.setIcon(icon_496ec13c583646cf9e9f29112c76c98d);
        
    
            marker_4bce2ea898c04b72aa7a9f0ea4007b6f.bindTooltip(
                `<div>
                     [1500.0, 'flat', 110.0]
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_15a12ad18b674c338dfa22fe4a98a523 = L.marker(
                [40.47697, -3.6667],
                {}
            ).addTo(map_50d88cd310c24929b3ae84e7f082feb1);
        
    
            var icon_b8564d442e854570b4b23d318588535d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_15a12ad18b674c338dfa22fe4a98a523.setIcon(icon_b8564d442e854570b4b23d318588535d);
        
    
            marker_15a12ad18b674c338dfa22fe4a98a523.bindTooltip(
                `<div>
                     [1450.0, 'flat', 110.0]
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c2e9f492b1de4c98a87fa394353bc0e8 = L.marker(
                [40.478730299999995, -3.6643755],
                {}
            ).addTo(map_50d88cd310c24929b3ae84e7f082feb1);
        
    
            var icon_ae4a0f979cc14d2f8df51c68df93c58f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_c2e9f492b1de4c98a87fa394353bc0e8.setIcon(icon_ae4a0f979cc14d2f8df51c68df93c58f);
        
    
            marker_c2e9f492b1de4c98a87fa394353bc0e8.bindTooltip(
                `<div>
                     [1350.0, 'flat', 100.0]
                 </div>`,
                {"sticky": true}
            );
        
</script>