<head>
    SWEET SPOT
</head>

<!doctype html>

<form action="/input" method="GET" enctype="multipart/form-data">
    <SELECT name="district" method="GET" action="/">
    <OPTION value="{{dist_list[0]}}" SELECTED>{{dist_list[0]}}</OPTION>
    {% for category in dist_list[1:] %}
    <option value="{{category}}">{{category}}</option>
    {% endfor %}
    </SELECT>


    <SELECT name="category_1" method="GET" action="/">
    <OPTION value="{{cat_list[0]}}" SELECTED>{{cat_list[0]}}</OPTION>
    {% for category in cat_list[1:] %}
    <option value="{{category}}">{{category}}</option>
    {% endfor %}
    </SELECT>

    <SELECT name="category_2" method="GET" action="/">
    <OPTION value="{{cat_list[0]}}" SELECTED>{{cat_list[0]}}</OPTION>
    {% for category in cat_list[1:] %}
    <option value="{{category}}">{{category}}</option>
    {% endfor %}
    </SELECT>

    <SELECT name="category_3" method="GET" action="/">
    <OPTION value="{{cat_list[0]}}" SELECTED>{{cat_list[0]}}</OPTION>
    {% for category in cat_list[1:] %}
    <option value="{{category}}">{{category}}</option>
    {% endfor %}
    </SELECT>

    <SELECT name="type" method="GET" action="/">
    <OPTION value="{{type_list[0]}}" SELECTED>{{type_list[0]}}</OPTION>
    {% for category in type_list[1:] %}
    <option value="{{category}}">{{category}}</option>
    {% endfor %}
    </SELECT>
    <input type="submit">
</form>







